
ion-content {
  --background: linear-gradient(to bottom, #f58220, #fff7f0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}
ion-button {
  margin-top: 20px;
  height: 55px;
  font-size: 1.1rem;
  --border-radius: 12px;
}

ion-item {
  margin-top: 12px;
  border-radius: 10px;
}
