// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// déclaration des couleurs
:root {
  --ion-color-orange: #F58220;
  --ion-color-orange-rgb: 245, 130, 32;
  --ion-color-orange-contrast: #ffffff;
  --ion-color-orange-contrast-rgb: 255, 255, 255;
  --ion-color-orange-shade: #d6731d;
  --ion-color-orange-tint: #f7963c;
}

//défintion des noms des couleur
.ion-color-orange {
  --ion-color-base: var(--ion-color-orange);
  --ion-color-base-rgb: var(--ion-color-orange-rgb);
  --ion-color-contrast: var(--ion-color-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-orange-shade);
  --ion-color-tint: var(--ion-color-orange-tint);
}
