<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Précédent">
    
     </ion-back-button>
    </ion-buttons> -->
    <ion-title>abonnement</ion-title>
  </ion-toolbar>
<ion-button (click)="home()" shape="round" color="warning"><ion-icon name="arrow-back-outline"> retour</ion-icon> retour</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
      <ion-title size="large">abonnement</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
